@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');
.locations{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    padding: 20px;
    margin-top: 20px;
    position:relative;
    top:100px;
    flex-direction: column;
    text-align: center;
}

.locations h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    color:#BCD4A7;
    margin-left: -1000px;
    margin-bottom: -0px;
}

.locations h1:hover{
    transform: scale(1.1);
}

.locations-container{
    position:relative;
    margin-top: 100px;
}

.locations-images, .locations-names{
    width: 100%;
    margin-top: 50px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
    justify-items: center;
}

.locations-images img{
    height: 250px;
}

.locations-images img:hover{
    opacity: .9;
    transform: scale(1.1);
}

.locations-names{
    padding-top: 165px;
    right: 80px;
    font-style: italic;
    font-size: x-large;
    color:#2F4F4F;
    text-shadow:.5px .5px 0 #BCD4A7 ;
}

.locations-names h2{
    background-color: #D3D3D375;
    margin-bottom: 205px;
    margin-left: 155px;
    justify-self: left;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 5px;
}


footer{
    position: relative;
    bottom:0;
    top:1000px;
    z-index: 1;
}
